/node_modules/
node_modules
/node_modules

/example/
example
/example

/src/
src
/src

/webpack/
webpack
/webpack

package-lock.json
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc.js
