/node_modules/
node_modules
/node_modules

.github

.husky

/example/
example
/example

/src/
src
/src

/webpack/
webpack
/webpack

.babelrc

.editorconfig

.eslintignore

.eslintrc

.gitignore

.prettierignore

.prettierrc.js

package-lock.json
