@import './variables';
@import './fonts';

* {
  background: rgb(4 12 24 / 100%);
}

.gradient-tex {
  background: $gradient-text;
  font-family: $manrope;
  font-size: 50px;
  line-height: 75px;
  font-weight: 800;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0;
}

.tree-view-text {
  margin-top: 10px;
  color: #686c75;
  font-family: $manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 27px;
  text-decoration: none;
}

.text-lint {
  margin-top: 10px;
  color: #686c75;
  font-family: $manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 27px;
  text-decoration: none;
  text-align: end;
  width: 50%;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
}

.container-bac {
  margin: 15px;
  background: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.image {
  width: 50px;
  height: 50px;
  margin: 10px;
  background: none;
}

.image-animation {
  animation: 3s rotate linear infinite;
}

.container-error-404 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
}

.container-error-404 > img {
  width: 300px;
  height: 200px;
}

.container-error-404 > p {
  margin-top: 10px;
  color: #686c75;
  font-family: $manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 27px;
}

button {
  border: 1px solid #fff;
  margin: 5px;
  width: 174px;
  height: 50px;
  font-family: $manrope;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: rgb(4 12 24 / 100%);
}
